Source: muttdelay
Section: utils
Priority: optional
Maintainer: Paul Buetow <paul@buetow.org>
Build-Depends: 
Standards-Version: 3.9.2
Homepage: https://github.com/rantanplan/muttdelay
Vcs-Git: https://github.com/rantanplan/muttdelay.git
Vcs-Browser: https://github.com/rantanplan/muttdelay

Package: muttdelay
Architecture: all
Depends: procmail, mutt
Description: Delaying the sending of mails
  A bash script to delay mails written via mutt
 
